<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  {% if site.theme_config.favicon.enabled == true %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme_config.favicon.apple_touch_icon | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme_config.favicon.icon_32 | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme_config.favicon.icon_16 | relative_url }}">
    <link rel="manifest" href="{{ site.theme_config.favicon.manifest | relative_url }}">
    <link rel="mask-icon" href="{{ site.theme_config.favicon.mask_icon | relative_url }}" color="{{ site.theme_config.favicon.mask_color | default: "#5bbad5" }}">
    <link rel="shortcut icon" href="{{ site.theme_config.favicon.shortcut_icon | relative_url }}">
    <meta name="msapplication-TileColor" content="{{ site.theme_config.favicon.tile_color | default: "#00aba9" }}">
    <meta name="msapplication-config" content="{{ site.theme_config.favicon.browserconfig | relative_url }}">
    <meta name="theme-color" content="{{ site.theme_config.favicon.theme_color | default: "#ffffff" }}">
  {% endif %}

  {% if site.theme_config.appearance_toggle %}
    {% include toggle_theme_js.html %}
  {% endif %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />

  {%- include custom_head.html -%}
</head>
