{% assign moonwalk_posts = include.posts | default: site.posts %}
{% assign moonwalk_date_format = site.theme_config.date_format | default: "%Y-%m-%d" %}
{% if moonwalk_posts.size > 0 %}
  <ul class="post-list">
    {% for post in moonwalk_posts %}
      <li class="post-list-item">
        <time class="home-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: moonwalk_date_format }}»</time>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
